# Base
alias ls='ls --color=auto'
alias ll='ls -ali'
alias la='ls -a'
alias grep='grep --color=auto'
alias tra='trans -b'
alias cd='z'

# navigation
alias obs='clear; cd ~/obs-home; r'
alias conf='cd ~/.config; c; r'
alias pro='cd ~/projects; c; r'

# scripts
alias c0='. ~/.config/zsh/.zshrc'
alias serve="browser-sync start --server --files ."
alias web_init=". ~/scripts/web/init.sh"
alias py_init=". ~/scripts/py_init.sh"
alias ali="nvim ~/.dotfiles/.aliases"
alias scr="cd ~/scripts"
alias ai="python ~/ai/projects/YGPT/src/main.py"


#reduction
alias py='python3'
alias za='zathura'
alias r='ranger'
alias v='vim'
alias n='nvim'
alias lgit='lazygit'
alias lern='python3 ~/projects/dict-1.0/api.py'
alias oles_wifi='nmcli device wifi connect Galaxy\ A710C21 password 6587865878'
